<html>

<head>
  <title>Tasks using OpenAI API</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div>
    <h1>Performing Tasks usig OpenAI API</h1>
  </div>

  <div class="main task-list">
    <a href="/insta_description">
      <h2> Instagram Description Generator</h2>
    </a>

    <a href="/summarizer">
      <h2> Text Summarizer</h2>
    </a>
  </div>

  <footer>
    <div class="social-links">
      <a href="https://github.com/meskv" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/me-skv/"><i class="fa-brands fa-linkedin"></i></a>
      <a href="mailto:krsk1495@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    </div>
  </footer>

</body>

</html>