<html>
  <head>
    <title>Instagram Description Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
    <link rel="stylesheet" href="../static/main.css">
  </head>

  <body>
    <h1>Text Summarizer</h1>

    <form method="post" action="{{ url_for('generated_summary') }}">
      <label for="input_text">Input Your Text</label><br />
      <textarea id="input_text" name="input_text" required></textarea><br />
      <label for="input_text">Word Limit e.g., 50 words </label><br />
      <input type="number" value="Word Count" required />
      <input type="submit" value="Generate Description" />
    </form>

    <div class="result">
        {% if summary %}
        <h2>Generated Summary of Text:</h2>
        <p>{{ summary }}</p>
        {% endif %}
    </div>
  </body>
</html>
